@import "colors";
@import "values";

.headers-container {
  display: inline-grid;
  grid-template-columns: $apps-grid;
  width: 100%;
  height: auto;
  font: {
    size: 1.2rem;
  }
  text-transform: uppercase;
  color: $grey500;
  border-bottom: 1px solid $grey300;
  .header-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
  }
  .sort-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
    div {
      margin-left: 4px;
      width: 10px;
      height: 8px;
      cursor: pointer;
    }
    .sort-asc {
      background: url(../../res/images/icons/tick-up.svg) center center no-repeat;
    }
    .sort-desc {
      background: url(../../res/images/icons/tick-down.svg) center center no-repeat;
    }
  }
}