@import "colors";
@import "values";

.bingo-item {
  position: relative;
  display: table;
  width: 19vw;
  height: 19vw;
  max-width: 120px;
  max-height: 120px;
  padding: 2px;
  background: $elementBg;
  border: 1px solid $grey3F;
  border-radius: 4px;
  overflow:hidden;
  word-break: break-all;
  span {
    display: table-cell;
    width: 16vw;
    height: 16vw;
    font: {
      size: 1.2rem;
      family: OpenSans, Tahoma, sans-serif;
    }
    color: $grey50;
    text-align: center;
    vertical-align: middle;
  }
  .number {
    position: absolute;
    top: 4px;
    right: 4px;
    font: {
      size: .8rem;
      family: OpenSans, Tahoma, sans-serif;
    }
    color: $greyBD;
  }
  @media only screen and (min-width: $mediaMinWidth) {
    padding: 4px;
    span {
      font: {
        size: 1.6rem;
        family: 'OpenSans-Bold', Tahoma, sans-serif;
      }
      width: 112px;
      height: 112px;
    }
  }
}

.hit {
  background: $hit;
}
.pending {
  color: $greyBD;
}
