$page-bg: rgba(203, 201, 214, 1);
$white: #fff;
$greyF9: rgba(249, 249, 249, 1);
$greyFD: rgba(253, 253, 253, 1);
$grey50: rgba(80, 80, 80, 1);
$grey3F: rgba(63, 63, 63, 1);
$grey900: #232747;
$greyBD: #bdbdbd;
$blue-title: #142b3b;
$elementBg: rgba(227, 227, 225, 1);
