@font-face {
  font-family: "Mulish";
  src: url("../../res/fonts/Mulish-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Mulish-SemiBold";
  src: url("../../res/fonts/Mulish-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: "Mulish-Bold";
  src: url("../../res/fonts/Mulish-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Mulish-Italic";
  src: url("../../res/fonts/Mulish-Italic.ttf") format("ttf");
}
