@import "colors";
@import "values";

.move-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  .btn, .game-over {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 19vw;
    height: 19vw;
    max-width: 120px;
    max-height: 120px;
    border: 2px solid $greyFD;
    border-radius: 50%;
    color: $greyFD;
    text-align:center;
    background: $grey3F;
    box-shadow: 0 0 4px $greyFD;
    cursor: pointer;
    span {
      display: block;
      line-height: 4vw;
      width: 100px;
      text-shadow: 1px 1px 1px $grey3F;
      font: {
        size: 1.2rem;
        family: 'OpenSans-Bold', Tahoma, sans-serif;
      }
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    @media only screen and (min-width: $mediaMinWidth) {
      span {
        font: {
          size: 1.8rem;
        }
        line-height: 2.2vw;
      }
    }
  }
  .btn:hover {
    background: $grey50;
  }
  .btn:active {
    background: $grey50;
    border: none;
  }
  .game-over {
    border: none;
    border-radius: 0;
    box-shadow: none;
    cursor: auto;
    span {
      text-shadow: none;
    }
  }
  .game-over:hover {
    background: $grey3F;
  }
}
