@import "colors";

.list-search-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 4px 12px 2px;
  margin-top: 75px;
  width: 100%;
  height: 44px;
  background: $white;
  border: 1px solid $grey300;
  box-sizing: border-box;
  border-radius: 10px;
  .list-search-bar_icon {
    height: 18px;
    width: 18px;
    background: url(../../res/images/icons/icon-seach.svg);
    margin:8px;
  }
  .list-search-bar_txt {
    width: 100%;
    height: 20px;
    margin: 12px 8px 12px 0;
    font-family: Mulish-SemiBold Tahoma sans-serif;
    font-size: 1.4rem;
    input {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0 2px;
      border: none;
    }
    input:focus {
      border: none;
      outline: none;
    }
  }
  .input-autocomplete {
    position: absolute;
    top: 36px;
    left: 0;
    width: 100%;
    height: auto;
    padding: 8px 0;
    z-index: 10000;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        width: 100%;
        height: 36px;
        padding: 8px 4px 8px 40px;
        border-bottom: 1px solid $grey300;
        background: $white;
        cursor: pointer;
      }
    }
  }
}






